@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Charts</li>
    </ol>


    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Doanh thu tháng này</div>
                <div class="card-footer d-flex align-items-center justify-content-between">

                    <a class="small text-white stretched-link" href="#">Xem chi tiết</a>
                    <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">Số sản phẩm bán được</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Details</a>
                    <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">
                    Khách hàng
                    <p class="text-dark">@ViewData["kh"]</p>

                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-action="index" asp-controller="khachhangs" asp-area="Admin">View Details</a>
                    <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">Nhân viên

                    <p class="text-dark">@ViewData["nv"]</p>

                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-action="index" asp-controller="nhanviens" asp-area="Admin">View Details</a>
                    <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <svg class="svg-inline--fa fa-chart-area me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-area" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zm96 288H448c17.7 0 32-14.3 32-32V251.8c0-7.6-2.7-15-7.7-20.8l-65.8-76.8c-12.1-14.2-33.7-15-46.9-1.8l-21 21c-10 10-26.4 9.2-35.4-1.6l-39.2-47c-12.6-15.1-35.7-15.4-48.7-.6L135.9 215c-5.1 5.8-7.9 13.3-7.9 21.1v84c0 17.7 14.3 32 32 32z"></path></svg><!-- <i class="fas fa-chart-area me-1"></i> Font Awesome fontawesome.com -->
            Doanh thu tháng của cửa hàng @ViewBag.Nam
        </div>
        <div id="chartContainer4" style="height: 400px; width: 100%;"></div>
        <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
               
                <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
                <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
                <script>
                    window.onload = function () {

                        var chart = new CanvasJS.Chart("chartContainer2", {
                            theme: "light1", // "light1", "light2", "dark1", "dark2"
                            exportEnabled: true,
                            animationEnabled: true,
                            title: {
                                text: "10 Sản phẩm bán chạy"
                            },
                            subtitles: [{
                                text: '@ViewBag.Time'
                            }],
                            data: [{
                                type: "pie",
                                startAngle: 180,
                                toolTipContent: "<b>{label}</b>: {y}%",
                                showInLegend: "true",
                                legendText: "{label}",
                                indexLabel: "{label} - {y}%",
                                dataPoints: @Html.Raw(ViewBag.DataPoints)
                                            }]
                        });
                        chart.render();

                    }
                </script>
            </div>


        </div>
         <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
            <div id="chartContainer3"></div>
        </div
        <div class="col-lg-6">
            <div id="chartContainer2"></div>
        </div>
    </div>
    </div>
   
</div>

<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer1", {
            animationEnabled: true,
            title: {
                text: 'Doanh thu cửa hàng @ViewBag.Nam'
            },
            toolTip: {
                shared: true
            },
            data: [{
                type: "line",
                name: '@ViewBag.Nam',
                showInLegend: true,
                dataPoints: @Html.Raw(ViewBag.DataPointsDoanhthu)
            }]
            });
            chart.render();

    }

    var chart1 = new CanvasJS.Chart("chartContainer4", {
        title: {
            text: 'Doanh thu cửa hàng @ViewBag.Nam'
        },
        data: [{
            type: "line",
            name: '@ViewBag.Nam',
            dataPoints: @Html.Raw(ViewBag.DataPointsDoanhthu)
        }]
    });
   
    chart1.render();




    var chart3 = new CanvasJS.Chart("chartContainer3", {
        title: {
            text: "Top 10 sản phẩm"
        },
        data: [{
            type: "line",
            dataPoints: @Html.Raw(ViewBag.DataPoints)

        }]
    });
    var chart4 = new CanvasJS.Chart("chartContainer2", {
        title: {
            text: "Top 10 sản phẩm"
        },
        data: [{
            type: "column",
            dataPoints: @Html.Raw(ViewBag.DataPoints)

        }]
    });

    chart3.render();
    chart4.render();
</script>

