@model BAITAP.Models.Cthoadon

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="mt-4">Chi tiết</h3>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="index">Chi tiết hóa đơn</a></li>
    <li class="breadcrumb-item active">Xem chi tiết</li>
</ol>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dongia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thanhtien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thanhtien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Macthd" class="btn btn-outline-info">Chỉnh sửa</a> |
    <a asp-action="Details" asp-controller="hoadons" asp-route-id="@Model.Mahd">Quay lại hóa đơn</a>
</div>
