@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var checkAdmin = Context.Session.GetString("KH_SESSION") ;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AYTI SHOP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BAITAP.styles.css" asp-append-version="true" />
    <!-- Thêm dòng sau vào phần head của trang HTML của bạn -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <script>
        CKEDITOR.replace('motaEditor', {
            height: 300 // Điều chỉnh chiều cao theo ý muốn của bạn
        });
    </script>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark  shadow"  style="background-color: #21D192">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" asp-controller="customer" asp-action="Index1"><i class="bi bi-shop-window"></i> AYTI Shop</a>
                <button onclick="handleNavbarDropdownClick()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon" id="togglebtn"></span></button>
                <div class="collapse navbar-collapse end-0" id="navbarSupportedContent">
                    <div class="d-flex">

                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 end-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" asp-controller="customer" asp-action="Index1">
                                            <i class="bi bi-house-door"></i> Trang chính
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" asp-controller="home" asp-action="info">
                                            <i class="bi bi-info-circle"></i> Giới thiệu
                                        </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
                                            <i class="bi bi-menu-button-wide-fill"></i> Danh mục
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li class="dropdown-submenu">
                                                <a class="dropdown-item" asp-controller="customer" asp-action="index1">
                                                    <i class="bi bi-box"></i> Danh mục sản phẩm
                                                </a>
                                                <ul class="submenu">
                                                    @if (Context.Items["DanhSachMatHang"] is List<Danhmuc> danhSachMatHang)
                                                    {
                                                        foreach (var danhMuc in danhSachMatHang)
                                                        {
                                                            <li>
                                                            <a class="dropdown-item" asp-controller="customer" asp-action="Index1" asp-route-Fill="true" asp-route-category="@danhMuc.Ten">@danhMuc.Ten</a>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </li>

                                          

                                        </ul>
                                    </li>


                                @if (string.IsNullOrEmpty(checkAdmin))
                                {

                                    <a asp-controller="customer" asp-action="login" class="btn btn-outline-light m-1">
                                        <i class="bi bi-person"></i> Đăng nhập
                                    </a>
                                }
                                else
                                {
                                    var khachHang = JsonConvert.DeserializeObject<BAITAP.Common.KhachHangLogin>(checkAdmin);

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-person-lines-fill"></i> Xin Chào @khachHang.Name
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                            <li class="dropdown-submenu">

                                                <ul class="submenu">
                                                    @if (!string.IsNullOrEmpty(checkAdmin))
                                                    {
                                                        <li class="dropdown-submenu">
                                                        <a class="dropdown-item" asp-action="profile1" asp-controller="customer" asp-route-id="#thongtintaikhoan">
                                                                <i class="bi bi-person"></i> Tài khoản
                                                            </a>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" asp-action="profile1" asp-controller="customer" asp-route-id="#danhsachdonhang">
                                                                <i class="bi bi-receipt"></i> Đơn mua hàng
                                                            </a>
                                                        </li>
                                                        <li class="dropdown-submenu">
                                                            <a class="dropdown-item" asp-action="logout" asp-controller="customer">
                                                                <i class="bi bi-box-arrow-left"></i> Đăng xuất
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                            
                                          
                                          

                                        </ul>
                                    </li>


                                    

                                }


                                <li class="nav-item">
                                    <a asp-action="Cart" asp-controller="customer" class="btn btn-outline-light m-1">
                                        <i class="bi bi-cart3"></i> Giỏ hàng
                                        <span class="badge bg-danger text-white ms-1 rounded-pill" id="cart-item-count">
                                            <script>
                                                // Assuming you have a JavaScript variable named 'cart' containing the items
                                                // Update the following line with the appropriate logic to get the cart length
                                                var cart = getCartItems();
                                                var cartLength = cart.length || 0;
                                                document.write(cartLength);
                                            </script>
                                        </span>
                                    </a>
                                </li>

                              </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Carousel -->
        <!-- Footer -->
     <footer class="text-center text-lg-start text-dark"
                style="background-color: #ECEFF1">
        <div class="text-center mb-5"><a class="text-warning" href="#top"><i class="bi bi-chevron-up" style="font-size: 3rem; font-weight: bold; color:white;"></i></a></div>

            <!-- Section: Social media -->
            <section class="d-flex justify-content-between p-4 text-white"
                     style="background-color: #21D192">
                <!-- Left -->
                <div class="me-5">
                    <span>Get connected with us on social networks:</span>
                </div>
                <!-- Left -->
                <!-- Right -->
                <div>
                    <a href="" class="text-white me-4">
                    <i class="bi bi-facebook"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="bi bi-google"></i>
                    </a>
                        <a href="" class="text-white me-4">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="bi bi-linkedin"></i>
                    </a>
                    <a href="https://github.com/DevWinterChau" class="text-white me-4" target="_blank">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->
            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold">AYTISHOP</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p>
                                Here you can use rows and columns to organize your footer
                                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">DANH MỤC</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />

                            @if (Context.Items["DanhSachMatHang"] is List<Danhmuc> dmsp1)
                            {
                            <div class="overflow-auto p-2 bg-light"
                                 style="max-width: 260px; max-height: 200px;">
                                @foreach (var danhMuc in dmsp1)
                                {                            
                                    <code>

                                        <a class="list-group-item text-dark" asp-controller="customer" asp-action="Index1" asp-route-Fill="true" asp-route-category="@danhMuc.Ten">@danhMuc.Ten</a>
                                    </code>                       
                                }
                            </div>

                            }                    
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">Useful links</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p>
                                <a asp-action="profile" asp-controller="customer" class="text-dark">Tài khoản của bạn</a>
                            </p>
                            <p>
                                <a href="#!" class="text-dark">Đánh giá mua sắm</a>
                            </p>
                            <p>
                                <a href="#!" class="text-dark">Help</a>
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">LIÊN HỆ</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p><i class="bi bi-shop-window"></i> Mỹ Xuyên, Long Xuyên, An Giang</p>
                            <p><i class="bi bi-envelope-arrow-down-fill"></i> aytishop@gmail.com</p>
                            <p><i class="bi bi-telephone-fill"></i> 0766837068</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->
            <!-- Copyright -->
            <div class="text-center p-3"
                 style="background-color: rgba(0, 0, 0, 0.2)">
                © 2023 Copyright:
            <a class="text-dark" href="https://github.com/DevWinterChau" target="_blank">DongChau</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    <!-- End of .container -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var header = document.querySelector("header");

            window.addEventListener("scroll", function () {
                var scroll = window.scrollY;

                if (scroll > 0) {
                    document.body.classList.add("scrolled");
                } else {
                    document.body.classList.remove("scrolled");
                }
            });
        });
        var filterForm = document.getElementById("filterForm");
        var navbarDropdown = document.getElementById("navbarDropdown");
        var navbarDropdown1 = document.getElementById("navbarDropdown1");

        var togglebtn = document.getElementById("togglebtn");

        function handleScroll() {
            var scroll = window.scrollY;

            // Kiểm tra xem dropdown có đang mở không
            var isDropdownOpen = document.getElementById("navbarSupportedContent").classList.contains("show");

            if (scroll > 50 && !isDropdownOpen) {
                // Nếu scroll lớn hơn 50 và dropdown không mở, thêm lớp "form-fixed"
                filterForm.classList.add("form-fixed");
            } else {
                // Nếu scroll không lớn hơn 50 hoặc dropdown đang mở, loại bỏ lớp "form-fixed"
                filterForm.classList.remove("form-fixed");
            }
        }
        function handleNavbarDropdownClick() {
            filterForm.classList.remove("form-fixed");
        }

        window.addEventListener("scroll", handleScroll);
        navbarDropdown.addEventListener("click", handleNavbarDropdownClick);
        navbarDropdown1.addEventListener("click", handleNavbarDropdownClick);

    </script>

    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
