@model BAITAP.Models.Hoadon

@{
    ViewData["Title"] = "Xem chi tiết hóa đơn";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}

<style>
    /* Add your custom styles here */
    .card {
        max-width: 100%; /* Adjust the maximum width as needed */
        margin: auto;
        margin: 20px; /* Add margin-top for spacing */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        color: #007bff; /* Set title color */
        margin-bottom: 20px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    td {
        max-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

    .btn-container {
        margin-top: 20px;
        text-align: center;
    }

    .btn-primary, .btn-secondary {
        margin-right: 10px;
    }
</style>
<h3 class="mt-0">Chi tiết đơn đặt hàng</h3>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="index">Đơn đặt hàng</a></li>
    <li class="breadcrumb-item active">Xem chi tiết</li>
</ol>
<div class="card mx-auto">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <strong>Mã hóa đơn:</strong> @Html.DisplayFor(model => model.Mahd)
            </div>
            <div class="col-md-4">
                <strong>Ngày:</strong> @Html.DisplayFor(model => model.Ngay)
            </div>
            <div class="col-md-4">                
                <strong>Trạng thái:</strong> 
                @if(Model.Trangthai == 0)
                {
                    <text>Chưa xác nhận</text>
                }
                else if(Model.Trangthai == 1)
                {
                    <text>Đã xác nhận</text>
                }
                else if (Model.Trangthai == 2)
                {
                    <text>Đang giao hàng</text>
                }
                else if (Model.Trangthai == 3)
                {
                    <text>Đã nhận hàng</text>
                }
                else
                {
                    <text>Đã hủy</text>
                }
            </div>
        </div>

        <h4 class="card-title">Khách hàng:</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <strong>Tên:</strong> @Html.DisplayFor(model => model.MakhNavigation.Ten)
            </div>
            <div class="col-md-4">
                <strong>Email:</strong> @Html.DisplayFor(model => model.MakhNavigation.Email)
            </div>
            <div class="col-md-4">
                <strong>Điện thoại:</strong> @Html.DisplayFor(model => model.MakhNavigation.Dienthoai)
            </div>
        </div>  
        <div class="row">
            <div class="col-md-4">
                <strong>Tỉnh:</strong> @Html.DisplayFor(model => model.Tinh)
            </div>
            <div class="col-md-4">
                <strong>Quận huyện:</strong> @Html.DisplayFor(model => model.Quanhuyen)
            </div>
            <div class="col-md-4">
                <strong>Xã phường:</strong> @Html.DisplayFor(model => model.Xaphuong)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <strong>Địa chỉ nhận:</strong> @Html.DisplayFor(model => model.Diachi)
            </div>
        </div>
        <h4 class="card-title">Danh sách sản phẩm:</h4>
        <hr />

        <table class="table">
            <thead>
                <tr>
                    <th>Mã Sản phẩm</th>
                    <th>Tên Sản phẩm</th>
                    <th>Số lượng mua</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cthoadons)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Mamh)</td>
                        <td>@Html.DisplayFor(modelItem => item.MamhNavigation.Ten)</td>
                        <td>@Html.DisplayFor(modelItem => item.Soluong)</td>
                        <td>@Html.DisplayFor(modelItem => item.Dongia)</td>
                        <td>@Html.DisplayFor(modelItem => item.Thanhtien)</td>

                        <td>
                            <a class="btn btn-outline-primary mb-1" asp-action="Edit" asp-controller="cthoadons" asp-route-id="@item.Macthd"><i class="bi bi-pencil"></i></a>
                            <a class="btn btn-outline-danger mb-1" asp-action="Delete" asp-controller="cthoadons"  asp-route-id="@item.Macthd"><i class="bi bi-archive-fill"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="btn-container">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Mahd">Chỉnh Sửa</a>
            <a class="btn btn-secondary" asp-action="Index">Quay Lại</a>
        </div>
    </div>
</div>
