@model BAITAP.Models.Diachi

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}

<h4 class="text-center text-danger">Xác nhận xóa</h4>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Chi tiết địa chỉ</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Diachi1)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Diachi1)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Tinhthanh)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Tinhthanh)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Quanhuyen)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Quanhuyen)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Phuongxa)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Phuongxa)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Macdinh)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Macdinh)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MakhNavigation)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MakhNavigation.Ten)</dd>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MakhNavigation.Dienthoai)</dd>
        </dl>

        <div class="text-center">
            <p class="text-danger">Bạn có chắc chắn muốn xóa mục này?</p>

            <form asp-action="Delete" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="MaDc" />

                <button type="submit" class="btn btn-danger">Xóa</button>
                <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
            </form>
        </div>
    </div>
</div>
