@model List<BAITAP.Models.Mh>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}

<style>
    /* Add your custom styles here */
    .table-container {
        max-width: 100%; /* Adjust the maximum width as needed */
        margin: auto;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 1px;
    }

    th {
        background-color: #f2f2f2;
    }


</style>
<h3 class="mt-0">Danh sách sản phẩm</h3>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="index">Sản phẩm</a></li>
    <li class="breadcrumb-item active">Danh sách</li>
</ol>
<div class="table-container">
    <div class="container px-4 px-lg-5 mt-3">

        <form id="filterForm" method="post" asp-action="index" asp-route-Fill="true">
            <div class="row">
                <div class="col-md-4">
                    <label for="category-filter" class="form-label">Danh mục:</label>
                    <select class="form-control" name="category">
                        <option value="">Tất cả</option>
                        @foreach (var category in ViewBag.ListDanhMuc)
                        {
                            <option value="@category.Ten" selected="@(ViewBag.category == category.Ten)">@category.Ten</option>
                        }
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="keyword" class="form-label">Từ khóa tìm kiếm:</label>
                    <div class="input-group">
                        <input value="@ViewBag.keyword" type="text" class="form-control" name="keyword" placeholder="Nhập từ khóa...">
                        <button class="btn btn-success" type="submit">Lọc</button>
                    </div>
                </div>
            </div>
        </form>
        @if (ViewBag.Fill)
        {
            <h3 class="text-info">
                Kết quả lọc sản phẩm: @ViewBag.category - @ViewBag.keyword 

            </h3>
        }
        else
        {
            <h3 class="text-info">Tất cả sản phẩm</h3>

        }
    </div>

    <p class="text-right">
        <a class="btn btn-success" asp-controller="mhs" asp-action="Create">Thêm mới</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Tên</th>
                <th>Hình ảnh</th>
                <th>Ngày tạo</th>
                <th>Ngày cập nhật</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Ten)</td>
                    <td class="thumbnail">
                        <img src="~/images/products/@Html.DisplayFor(modelItem => item.Hinhanh)" class="img-thumbnail" alt="@Html.DisplayFor(modelItem => item.Ten)" style="width: 100px; height: 100px;" />
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Ngaytao)</td>
                    <td>@Html.DisplayFor(modelItem => item.Ngaycapnhat)</td>
                    <td>
                        <a class="btn btn-outline-primary mb-1" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a>
                        <a class="btn btn-outline-success mb-1" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i></a>
                        <a class="btn btn-outline-danger mb-1" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-archive-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Count> 0)
    {
        <ul class="pagination justify-content-center" style="margin: 20px 0;">

            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = 1 , keyword = ViewBag.keyword,  sort = ViewBag.sort , category = ViewBag.category, Fill = ViewBag.Fill})">
                    <i class="bi bi-skip-start-btn-fill"></i>
                </a>
            </li>
            @if (ViewBag.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new {
                                page = ViewBag.CurrentPage - 1,
                                keyword = ViewBag.keyword,
                                sort = ViewBag.sort,
                                category = ViewBag.category,
                                Fill = ViewBag.Fill
                            })">
                        <i class="bi bi-arrow-left-square-fill"></i>
                    </a>
                </li>
            }

            @for (var i = Math.Max(1, ViewBag.CurrentPage - 2); i <= Math.Min(ViewBag.TotalPages, ViewBag.CurrentPage + 2); i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    @if (i == ViewBag.CurrentPage)
                    {
                        <span class="page-link">@i</span>
                    }
                    else
                    {
                        <a class="page-link" href="@Url.Action("Index", new { page = i,  keyword = ViewBag.keyword,  sort = ViewBag.sort , category = ViewBag.category,    Fill = ViewBag.Fill })">@i</a>
                    }
                </li>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <li class="page-item ">
                    <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1,  keyword = ViewBag.keyword,  sort = ViewBag.sort , category = ViewBag.category, Fill = ViewBag.Fill  })">
                        <i class="bi bi-arrow-right-square-fill"></i>
                    </a>
                </li>
            }
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.TotalPages,  keyword = ViewBag.keyword,  sort = ViewBag.sort , category = ViewBag.category, Fill = ViewBag.Fill })">
                    <i class="bi bi-skip-end-btn-fill"></i>
                </a>
            </li>
        </ul>

    }
</div>
