@model BAITAP.Models.Mathang

@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    var MotasanphamHTML = Model.MoTa;
}

<div class="product-container ">
        <div class="product-title">
            @Html.DisplayFor(model => model.Ten)
        </div>

        <div class="product-info">
            <div>
                <dt>Tên sản phẩm:</dt>
                <dd>@Html.DisplayFor(model => model.Ten)</dd>
                <dt>Size: @Html.DisplayFor(model => model.Kichco)</dt>
                <dt>Màu sắc: @Html.DisplayFor(model => model.Mausac)</dt>
                <dt>Chất liệu: @Html.DisplayFor(model => model.Chatlieu)</dt>
                <dt>Danh mục: @Html.DisplayFor(model => model.Danhmucs.Ten)</dt>
            @if (Model.GiaGoc > Model.GiaBan)
            {
                <dt class="product-price-goc">
                    Giá gốc:@Model.GiaGoc.ToString("N0") đ
                </dt>
                <dt class="product-price">
                    Giảm còn: @Model.GiaBan.ToString("N0") đ
                </dt>
            }
            else
            {
                <dt class="product-price">
                    Giá bán: @Model.GiaBan.ToString("N0") đ
                </dt>
            }
            </div>        
            <div>
            <img class="product-image" src="~/images/products/@Html.DisplayFor(model => model.HinhAnh)" style="max-width: 300px;" />
            </div>
        </div>
        <div>
            <a class="btn btn-outline-info mt-auto" onclick="addToCart('@Model.MaMh', '@Model.GiaBan', '@Model.HinhAnh', '@Model.Ten', 0, '@Model.SoLuong')"><i class="bi bi-bag-plus-fill"></i> Thêm vào giỏ hàng</a>

            <a class="btn btn-primary" asp-action="Index1"><i class="bi bi-box-seam-fill"></i>Trang mua sắm</a>
        </div>

        <div class="overflow-auto  bg-light"
             style="max-width: 100%; max-height: 300px;">
            <h3>Mô tả:</h3>
            <code>@Html.Raw(@Model.MoTa)</code>
        </div>
</div>
<section class="py-3">
    <h3 class="text-info">Sản phẩm tương tự cho bạn</h3>
    <ul class="list-group list-group-horizontal position-relative overflow-auto" style="overflow-y: hidden;">
        @foreach (var item in ViewBag.ListSanPhamGoiY)
        {
            <li class="list-group-item w-100">
                <div class="card h-100" style="width: 200px;">
                    <!-- Set your desired width -->
                    <!-- Sale badge -->
                    @if (item.Phantramkhuyenmai > 0)
                    {
                        <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Khuyến mãi @item.Phantramkhuyenmai%</div>
                    }
                    @if (item.mathang.LuotMua > 10)
                    {
                        <div class="badge bg-danger text-white position-absolute" style="top: 2rem; right: 0.5rem">Bán chạy</div>
                    }
                    <!-- Product image -->
                    <a asp-action="Details" asp-route-id="@item.mathang.MaMh" style="text-decoration: none;">
                        <img class="card-img-top" src="~/images/products/@item.mathang.HinhAnh" alt="@item.mathang.HinhAnh" />
                    </a>
                    <!-- Product details -->
                    <div class="card-body">
                        <div class="text-center">
                            <!-- Product name -->
                            <a asp-action="Details" asp-route-id="@item.mathang.MaMh" style="text-decoration: none;">
                                <h6 class="text-info">
                                    @item.mathang.Ten
                                </h6>
                            </a>
                            <!-- Product reviews -->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star"></div>
                            </div>
                            <!-- Product price -->
                            @if (item.Phantramkhuyenmai > 0)
                            {
                                <span class="text-muted text-decoration-line-through d-block mb-2">
                                    Giá gốc: @item.mathang.GiaBan.ToString("N0") đ
                                </span>
                                <span class="text-danger d-block">
                                    Khuyến mãi: @item.Giakhuyemai.ToString("N0") đ
                                </span>
                            }
                            else
                            {
                                <span class="text-danger d-block">
                                    Giá bán: @item.mathang.GiaBan.ToString("N0") đ
                                </span>
                            }
                        </div>
                    </div>
                    <!-- Product actions -->
                    <div class="card-footer border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-danger" asp-controller="customer" asp-action="AddtoWishlist" asp-route-id="@item.mathang.MaMh" asp-route-giakhuyenmai="@item.Giakhuyemai"><i class="bi bi-heart-fill"></i></a>
                            @if (item.Phantramkhuyenmai > 0 && item.Giakhuyemai > 0)
                            {
                                <a class="btn btn-outline-info" onclick="addToCart('@item.mathang.MaMh', '@item.mathang.GiaBan', '@item.mathang.HinhAnh', '@item.mathang.Ten', '@item.Giakhuyemai', '@item.mathang.SoLuong')"><i class="bi bi-bag-plus-fill"></i></a>
                            }
                            else
                            {
                                <a class="btn btn-outline-info" onclick="addToCart('@item.mathang.MaMh', '@item.mathang.GiaBan', '@item.mathang.HinhAnh', '@item.mathang.Ten', 0, '@item.mathang.SoLuong')"><i class="bi bi-bag-plus-fill"></i></a>
                            }
                        </div>
                    </div>
                </div>
            </li>
        }
    </ul>
</section>
<script>
    function addToCart(id, giaban, hinhanh, ten, giakhuyenmai, soluongconsp) {
        var cart = JSON.parse(localStorage.getItem('cart')) || [];

        var existingProduct = cart.find(item => item.id === id);
        if (existingProduct && existingProduct.soluongmua == soluongconsp) {
            // Hiển thị toast thông báo
            Toastify({
                text: "Số lượng sản phẩm chỉ còn " + soluongconsp + " ! Bạn đã thêm sản phẩm này vào giỏ hàng!",
                duration: 3000,
                gravity: "bottom",
                position: 'right',
                backgroundColor: "rgba(255, 0, 0, 0.8)", // Red with 80% opacity
                stopOnFocus: true,
                className: 'custom-toast', // Thêm class để tùy chỉnh CSS
            }).showToast();
            return;
        }

        if (existingProduct) {
            existingProduct.soluongmua++;
            Toastify({
                text: "Đã cập nhật số lượng vào giỏ hàng !",
                duration: 3000,
                gravity: "bottom", // Chọn bottom để hiển thị ở dưới
                position: 'right',
                backgroundColor: "rgba(0, 128, 0, 0.8)", // Màu nền xanh lá cây với độ trong suốt
                stopOnFocus: true,
                className: 'custom-toast', // Thêm class để tùy chỉnh CSS
            }).showToast();
        } else {
            cart.push({ id, ten, giaban, hinhanh, soluongmua: 1, giakhuyenmai: giakhuyenmai });
            // Hiển thị toast thông báo
            Toastify({
                text: "Đã thêm vào giỏ hàng !",
                duration: 3000,
                gravity: "bottom",
                position: 'right',
                backgroundColor: "rgba(0, 128, 0, 0.8)", // Màu nền xanh lá cây với độ trong suốt
                stopOnFocus: true,
                className: 'custom-toast', // Thêm class để tùy chỉnh CSS
            }).showToast();

        }

        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        displayNumbercart();
    }

</script>
