@using Microsoft.JSInterop;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using BAITAP.DTO;
@model List<SanPhamDTO>

@{
    ViewData["Title"] = "Trang chính";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-3">
        <form id="filterForm" method="post" asp-action="index" asp-route-Fill="true">
            <div class="row">
                <div class="col-md-4">
                    <label for="category-filter" class="form-label">Danh mục:</label>
                    <select class="form-control" name="category">
                        <option value="">Tất cả</option>
                        @foreach (var category in ViewBag.ListDanhMuc)
                        {
                            <option value="@category.Ten" selected="@(ViewBag.category == category.Ten)">@category.Ten</option>
                        }
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="sort-filter" class="form-label">Sắp xếp:</label>
                    <select class="form-control" name="sort">
                        <option value="">Không sắp xếp</option>
                        <option value="priceHighToLow" selected="@(ViewBag.sort == "priceHighToLow")">Giá từ cao đến thấp</option>
                        <option value="priceLowToHigh" selected="@(ViewBag.sort == "priceLowToHigh")">Giá từ thấp đến cao</option>
                        <!-- Add more sorting options if needed -->
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="khuyenmai-filter" class="form-label">Khuyễn mãi:</label>
                    <select class="form-control" name="khuyenmai">
                        <option value="0" selected="@(ViewBag.khuyenmai == "1")">Không khuyến mãi</option>
                        <option value="1" selected="@(ViewBag.khuyenmai == "1")">Có chương trình khuyến mãi</option>
                        <!-- Add more sorting options if needed -->
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="keyword" class="form-label">Từ khóa tìm kiếm:</label>
                    <div class="input-group">
                        <input value="@ViewBag.keyword" type="text" class="form-control" name="keyword" placeholder="Nhập từ khóa...">
                        <button class="btn btn-success" type="submit">Lọc</button>
                    </div>
                </div>
            </div>
        </form>
        @if (ViewBag.Fill)
        {
            <h3 class="text-info">
                Kết quả lọc sản phẩm: @ViewBag.category -
                @{
                    if (ViewBag.sort == "priceHighToLow")
                    {
                        <text>Giá từ cao đến thấp</text>
                    }
                    else if (ViewBag.sort == "priceLowToHigh")
                    {
                        <text>Giá từ thấp đến cao</text> <!-- Add your other message here -->
                    }
                    else
                    {

                        <text>@ViewBag.sort</text> <!-- Add your other message here -->
                    }
                }
                - @ViewBag.keyword -
                @if (ViewBag.khuyenmai == "1")
                {
                    <text>Có chương trình khuyến mãi</text> <!-- Add your other message here -->
                }
                else
                {
                    <text>Không khuyễn mãi</text> <!-- Add your other message here -->
                }
            </h3>
        }
        else
        {
            <h3 class="text-info">Tất cả sản phẩm</h3>

        }
    </div>

    <div class="container px-4 px-lg-5 mt-1">


        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        @if (item.KhuyenMai)
                        {
                            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Khuyến mãi</div>
                        }
                        @if (item.NoiBat)
                        {
                            <div class="badge bg-danger text-white position-absolute" style="top: 2rem; right: 0.5rem">Nổi bật</div>

                        }
                        <!-- Product image-->

                        <a asp-action="Details2" asp-route-id="@item.mh.Id" style="text-decoration: none;">
                            <img class="card-img-top" src="~/images/products/@item.mh.Hinhanh" alt="@item.mh.Hinhanh" />
                        </a>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <a asp-action="Details" asp-route-id="@item.mh.Id" style="text-decoration: none;">
                                    <h5 class="fw-bolder text-info">
                                        @Html.DisplayFor(modelItem => item.mh.Ten)
                                    </h5>
                                </a>                                
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                @{
                                    float count = item.DanhGiaTrungBinh;
                                    @for(int i =0; i<count; i++)
                                    {
                                        <div class="bi-star-fill"></div>
                                    }
                                }
                                </div>                              
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
        @if (Model.Count > 0)
        {
            <ul class="pagination justify-content-center" style="margin: 20px 0;">

                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = 1 , keyword = ViewBag.keyword,  sort = ViewBag.sort , category = ViewBag.category, Fill = ViewBag.Fill})">
                        <i class="bi bi-skip-start-btn-fill"></i>
                    </a>
                </li>
                @if (ViewBag.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new {
                                page = ViewBag.CurrentPage - 1,
                                keyword = ViewBag.keyword,
                                sort = ViewBag.sort,
                                category = ViewBag.category,
                                Fill = ViewBag.Fill
                            })">
                            <i class="bi bi-arrow-left-square-fill"></i>
                        </a>
                    </li>
                }

                @for (var i = Math.Max(1, ViewBag.CurrentPage - 2); i <= Math.Min(ViewBag.TotalPages, ViewBag.CurrentPage + 2); i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        @if (i == ViewBag.CurrentPage)
                        {
                            <span class="page-link">@i</span>
                        }
                        else
                        {
                            <a class="page-link" href="@Url.Action("Index", new { page = i,  keyword = ViewBag.keyword,  sort = ViewBag.sort , category = ViewBag.category,    Fill = ViewBag.Fill })">@i</a>
                        }
                    </li>
                }

                @if (ViewBag.CurrentPage < ViewBag.TotalPages)
                {
                    <li class="page-item ">
                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1,  keyword = ViewBag.keyword,  sort = ViewBag.sort , category = ViewBag.category, Fill = ViewBag.Fill  })">
                            <i class="bi bi-arrow-right-square-fill"></i>
                        </a>
                    </li>
                }
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.TotalPages,  keyword = ViewBag.keyword,  sort = ViewBag.sort , category = ViewBag.category, Fill = ViewBag.Fill })">
                        <i class="bi bi-skip-end-btn-fill"></i>
                    </a>
                </li>
            </ul>

        }
    </div>
</section>
<script>
    function addToCart(id, giaban, hinhanh, ten, giakhuyenmai) {
        console.log(id, giaban, hinhanh, ten, giakhuyenmai);  // Log the parameters directly
        var cart = JSON.parse(localStorage.getItem('cart')) || [];
        var existingProduct = cart.find(item => item.id === id);
        if (existingProduct) {
            existingProduct.soluongmua++;
            Toastify({
                text: "Đã cập nhật số lượng vào giỏ hàng !",
                duration: 3000,
                gravity: "bottom", // Chọn bottom để hiển thị ở dưới
                position: 'right',
                backgroundColor: "rgba(0, 128, 0, 0.8)", // Màu nền xanh lá cây với độ trong suốt
                stopOnFocus: true,
                className: 'custom-toast', // Thêm class để tùy chỉnh CSS
            }).showToast();
        } else {
            cart.push({ id, ten, giaban, hinhanh, soluongmua: 1, giakhuyenmai: giakhuyenmai });
            // Hiển thị toast thông báo
            Toastify({
                text: "Đã thêm vào giỏ hàng !",
                duration: 3000,
                gravity: "bottom",
                position: 'right',
                backgroundColor: "rgba(0, 128, 0, 0.8)", // Màu nền xanh lá cây với độ trong suốt
                stopOnFocus: true,
                className: 'custom-toast', // Thêm class để tùy chỉnh CSS
            }).showToast();

        }

        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        displayNumbercart();
    }

    var filterForm = document.getElementById("filterForm");

    function handleScroll() {
        var scroll = window.scrollY;

        if (scroll > 50) {
            filterForm.classList.add("form-fixed");
        } else {
            filterForm.classList.remove("form-fixed");
        }
    }

    window.addEventListener("scroll", handleScroll);
</script>





