@model Hoadon
@{
    ViewData["Title"] = @ViewData["success"];
    
}

<script>

    removeAllCart();
</script>
<style>
    /* Add your custom styles here */
    .table-container {
        max-width: 100%; /* Adjust the maximum width as needed */
        margin: auto;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 12px;
    }

    th {
        background-color: #f2f2f2;
    }

    td {
        max-width: 200px; /* Limit the maximum width of cells */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<div class="align-content-center m-10">
    <h4 class="textalign-content-center text-info">@ViewBag.Message</h4>

    <div class="row">
        <div class="col-md-6">
            <h5>Thông tin đơn hàng</h5>

            <div class="row">
                <div class="col-md-4">
                    <div>Mã đơn hàng: <strong>@Model.Mahd</strong></div>
                </div>
                <div class="col-md-4">
                    <div>Ngày đặt: <strong>@Model.Ngay</strong></div>
                </div>
                <div class="col-md-4">
                    <div>
                        Trạng thái: <strong>
                            Đang chờ xác nhận
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Thông tin khách hàng</h5>

            <div class="row">
                <div class="col-md-4">
                    <div>Tên người nhận: <strong>@Model.Tennguoinhan</strong></div>
                </div>
                <div class="col-md-4">
                    <div>Số điện thoại: <strong>@Model.Sodienthoai</strong></div>
                </div>
                <div class="col-md-4">
                    <div>Email: <strong>@Model.MakhNavigation.Email</strong></div>
                </div>
            </div>
        </div>      
    </div>
    <div class="row">
        <div class="col-4">Tỉnh: @Model.Tinh</div>
        <div class="col-4">Quận/ Huyện: @Model.Quanhuyen</div>
        <div class="col-4">Xã / Phường: @Model.Xaphuong</div>
    </div>
    <p class="text-bg-info">Địa chỉ nhận chi tiết: @Model.Diachi</p>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng mua</th>
                    <th>Đơn giá</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cthoadons)
                {
                    <tr>
                        <td>@item.MamhNavigation.Ten</td>
                        <td>@item.Soluong</td>
                        <td>@item.Dongia.ToString("N0") đ</td>
                        <td>@item.Thanhtien.ToString("N0") đ</td>
                    </tr>
                }
                <tr>
                    <td colspan="2">Tổng tiền: </td>
                    <td colspan="2">
                        <p class="text-danger">
                            @Model.Tongtien.ToString("N0") đ
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a asp-action="index1" asp-controller="customer" class="btn btnbtn-outline-info">Tiếp tục mua sắm</a>
            <a asp-action="profile1" asp-controller="customer" asp-route-id="#danhsachdonhang" class="btn btnbtn-outline-info">Đơn hàng của tôi</a>
        </div>
    </div>
</div>
