@model BAITAP.DTO.ProfileCustomer
@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container p-5 ">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">
                <div class="user-cover" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
                </div>
                <div class="user-info">
                    <div class="user-avatar">
                        <a class="edit-avatar" href="#"></a><img src="~/images/account/user.png" alt="@Model.KhachHang.Ten"/>
                    </div>
                    <div class="user-data">
                        <h4>@Model.KhachHang.Ten</h4><span>@Model.KhachHang.Email</span>
                    </div>
                </div>
            </aside>
            <nav class="list-group">
                <a class="list-group-item with-badge active" href="#danhsachdonhang"><i class="fa fa-th"></i>Đơn mua hàng<span class="badge badge-primary badge-pill">6</span></a>
                <a class="list-group-item" href="#thongtintaikhoan"><i class="fa fa-user"></i>Thông tin tài khoản</a>
                <a class="list-group-item" href="#diachi"><i class="fa fa-map"></i>Địa chỉ</a>
                <a class="list-group-item with-badge" href="#sanphamyeuthich"><i class="fa fa-heart"></i>Sản phẩm yêu thích<span class="badge badge-primary badge-pill">3</span></a>
            </nav>

        </div>

        <div class="col-lg-8 content-section" id="sanphamyeuthich">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <!-- Wishlist Table-->
            <div class="table-responsive wishlist-table margin-bottom-none">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Danh sách sản phẩm yêu thích</th>
                            <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#"><i class="bi bi-x-square-fill"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.WistList != null)
                            {
                                if (Model.WistList.Count > 0)
                                {
                                    foreach (var item in Model.WistList)
                                    {
                                        <tr>
                                            <td>
                                                <div class="product-item">
                                                    <a class="product-thumb" href="#">
                                                        <img src="~/images/products/@item.hinhanh" />
                                                    </a>
                                                    <div class="product-info">
                                                        <h4 class="product-title"><a href="#">@item.ten</a></h4>
                                                        <div class="text-lg text-medium text-muted">@item.giaban.ToString("N0") đ</div>

                                                    </div>

                                                   
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div>
                                                    <a class="btn btn-outline-info mt-auto" href="#" onclick="addToCart('@item.id', '@item.giaban', '@item.hinhanh', '@item.ten')"><i class="bi bi-bag-plus-fill"></i> </a>
                                                    <a class="btn btn-outline-warning">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                    }
                                }

                            }
                            else
                            {
                                <tr>
                                    <td>
                                        Chưa có sản phẩm yêu thích
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            <hr class="mb-4">
        </div>
        <div class="col-lg-8 content-section" id="danhsachdonhang">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <!-- Wishlist Table-->
            <div class="table-responsive wishlist-table margin-bottom-none">
                <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-center">Danh sách đơn mua hàng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.HoadonList != null && Model.HoadonList.Any())
                            {
                                foreach (var item in Model.HoadonList)
                                {
                                    <tr>
                                        <td>
                                            <div class="product-item">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <strong>Mã đơn:</strong> @item.Mahd
                                                    </div>
                                                    <div class="col-md-4">
                                                        <strong>Ngày đặt đơn:</strong> @item.Ngay
                                                    </div>
                                                    <div class="col-md-4">
                                                        <strong>Tổng tiền:</strong> @item.Tongtien
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        @if (item.Trangthai == 0)
                                                        {
                                                            <strong> Đang chờ xác nhận</strong>
                                                        }
                                                        else if (item.Trangthai == 1)
                                                        {
                                                            <strong>Đã xác nhận</strong>
                                                        }
                                                        else if (item.Trangthai == 2)
                                                        {
                                                            <strong> Đang giao hàng</strong>
                                                        }
                                                        else
                                                        {
                                                            <strong>Đã nhận hàng</strong>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div>
                                                <a href="#" class="btn btn-warning" title="Xem chi tiết">
                                                    <i class="bi bi-eye-fill"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="2" class="text-center">
                                        <em>Chưa có đơn hàng</em>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            @if (Model.HoadonList != null && Model.HoadonList.Count > 0)
                            {
                                for (var i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    <li class="page-item @(i == ViewBag.PageNumber ? "active" : "")">
                                        <a class="page-link" href="?page=@i">@i</a>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <hr class="mb-4">
        </div>
     
        <div class="col-lg-8 content-section" id="thongtintaikhoan">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <div class="product-item">
                <a class="product-thumb" href="#">
                    <img src="~/images/account/user.png" />
                </a>
                <form enctype="multipart/form-data" asp-action="UpdateInfo">
                    <div class="form-group">
                        <label for="fileanh">Ảnh đại diện:</label>
                        <input type="file" id="fileanh" name="fileanh" class="form-control-file" />
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="Ten">Họ và tên:</label>
                            <input type="text" id="Ten" name="Ten" value="@Model.KhachHang.Ten" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label for="Email">Email:</label>
                            <input type="text" id="Email" name="Email" value="@Model.KhachHang.Email" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="Dienthoai">Điện thoại:</label>
                            <input type="text" id="Dienthoai" name="Dienthoai" value="@Model.KhachHang.Dienthoai" class="form-control" />
                        </div>
                    </div>

                    <div class="form-row">
                     
                        <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-outline-success">Lưu</button>
                        </div>
                    </div>
                </form>

            </div>
            
            <hr class="mb-4">
        </div>
        <div class="col-lg-8 content-section" id="diachi">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <!-- Wishlist Table-->
            <div class="table-responsive wishlist-table margin-bottom-none">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Danh sách địa chỉ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Diachi != null)
                            {
                                if (Model.Diachi.Count > 0)
                                {
                                    foreach (var item in Model.Diachi)
                                    {
                                        <tr>
                                            <td>
                                                <div class="product-item">
                                                    <div class="product-info">
                                                        <h4 class="product-title"><a href="#">@item.Tinhthanh</a></h4>
                                                        <h4 class="product-title"><a href="#">@item.Quanhuyen</a></h4>
                                                        <h4 class="product-title"><a href="#">@item.Phuongxa</a></h4>
                                                        <h4 class="product-title"><a href="#">@item.Diachi1</a></h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div>
                                                    <a class="btn btn-outline-warning" asp-action="XoaDiaChi" asp-controller="Customer" asp-route-id="@item.MaDc">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                    }
                                }

                            }
                            else
                            {
                                <tr>
                                    <td>
                                        Chưa có địa chỉ mua hàng 
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            <hr class="mb-4">
        </div>


    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> <!-- Include jQuery library -->

<script>
    // Function to show the corresponding content section
    function showContent(contentId) {
        // Hide all content sections
        $('.content-section').hide();

        // Show the selected content section
        $('#' + contentId).show();
    }

    // Initial setup to show the default active section
    $(document).ready(function () {
        // Get the active link's href
        var activeHref = $('.list-group-item.active').attr('href');

        // Show the corresponding content section
        showContent(activeHref.substr(1)); // Remove the '#' symbol
    });

    // Add click event listeners to navigation links
    $('.list-group-item').click(function () {
        // Remove 'active' class from all links
        $('.list-group-item').removeClass('active');

        // Add 'active' class to the clicked link
        $(this).addClass('active');

        // Get the href of the clicked link
        var clickedHref = $(this).attr('href');

        // Show the corresponding content section
        showContent(clickedHref.substr(1)); // Remove the '#' symbol
    });
</script>
