@model BAITAP.DTO.ProfileCustomer
@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container p-5 ">
    <div class="row">
        <div class="col-lg-4">
            <aside class="user-info-wrapper">
                <div class="user-cover" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
                </div>
                <div class="user-info">
                    <div class="user-avatar">
                        <a class="edit-avatar" href="#"></a><img src="~/images/account/user.png" alt="@Model.KhachHang.Ten"/>
                    </div>
                    <div class="user-data">
                        <h4>@Model.KhachHang.Ten</h4><span>@Model.KhachHang.Email</span>
                    </div>
                </div>
            </aside>
            <nav class="list-group">
                <a class="list-group-item with-badge active" href="#danhsachdonhang"><i class="fa fa-th"></i>Đơn mua hàng<span class="badge badge-primary badge-pill">@ViewData["soluongdonhang"]</span></a>
                <a class="list-group-item" href="#thongtintaikhoan"><i class="fa fa-user"></i>Thông tin tài khoản</a>
                <a class="list-group-item" href="#diachi"><i class="fa fa-map"></i>Địa chỉ</a>
                <a class="list-group-item with-badge" href="#sanphamyeuthich"><i class="fa fa-heart"></i>Sản phẩm yêu thích<span class="badge badge-primary badge-pill">@ViewData["slSPYT"]</span></a>
            </nav>

        </div>

        <div class="col-lg-8 content-section" id="sanphamyeuthich">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <!-- Wishlist Table-->
            <div class="table-responsive wishlist-table margin-bottom-none">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Danh sách sản phẩm yêu thích</th>
                            <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#"><i class="bi bi-x-square-fill"></i></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.WistList != null)
                            {
                                if (Model.WistList.Count > 0)
                                {
                                    foreach (var item in Model.WistList)
                                    {
                                        <tr>
                                            <td>
                                                <div class="product-item">
                                                    <a class="product-thumb" href="#">
                                                        <img src="~/images/products/@item.hinhanh" />
                                                    </a>
                                                    <div class="product-info">
                                                        <h4 class="product-title"><a href="#">@item.ten</a></h4>
                                                        @if (item.giakhuyenmai> 0)
                                                        {
                                                            <div class="text-lg text-medium text-muted">
                                                                <span class="text-muted text-decoration-line-through">
                                                                    @item.giaban.ToString("N0") đ
                                                                </span>
                                                            </div>
                                                            <div class="text-lg text-medium text-muted">
                                                                <span class="text-danger ">
                                                                    @item.giakhuyenmai.ToString("N0") đ
                                                                </span>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="text-lg text-medium text-muted">
                                                                <span class="text-muted text-decoration-line-through">
                                                                    @item.giaban.ToString("N0") đ
                                                                </span>
                                                            </div>
                                                        }
                                                    </div>                                                 
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div>
                                                    @if (item.giakhuyenmai > 0)
                                                    {
                                                        <a class="btn btn-outline-info mt-auto" onclick="addToCart('@item.id', '@item.giaban', '@item.hinhanh', '@item.ten', '@item.giakhuyenmai')"><i class="bi bi-bag-plus-fill"></i> </a>
                                                    }
                                                    else
                                                    {
                                                        <a class="btn btn-outline-info mt-auto" onclick="addToCart('@item.id', '@item.giaban', '@item.hinhanh', '@item.ten', 0)"><i class="bi bi-bag-plus-fill"></i> </a>
                                                    }
                                                    <a class="btn btn-outline-warning" asp-action="RemoveItemWishlis" asp-route-id="@item.id">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                    }
                                }

                            }
                            else
                            {
                                <tr>
                                    <td>
                                        Chưa có sản phẩm yêu thích
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            <hr class="mb-4">
        </div>
        <div class="col-lg-8 content-section" id="danhsachdonhang">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <!-- Wishlist Table-->
            <div class="table-responsive wishlist-table margin-bottom-none">
                <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-center">Danh sách đơn mua hàng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.HoadonList != null && Model.HoadonList.Any())
                            {
                                foreach (var item in Model.HoadonList)
                                {
                                    <tr>
                                        <td>
                                            <div class="product-item">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <strong>Mã đơn:</strong> @item.Mahd
                                                    </div>
                                                    <div class="col-md-4">
                                                        <strong>Ngày đặt đơn:</strong> @item.Ngay
                                                    </div>
                                                    <div class="col-md-4">
                                                        <strong>Tổng tiền:</strong> @item.Tongtien
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        @if (item.Trangthai == 0)
                                                        {
                                                            <strong> Đang chờ xác nhận</strong>
                                                        }
                                                        else if (item.Trangthai == 1)
                                                        {
                                                            <strong>Đã xác nhận</strong>
                                                        }
                                                        else if (item.Trangthai == 2)
                                                        {
                                                            <strong> Đang giao hàng</strong>
                                                        }
                                                        else
                                                        {
                                                            <strong>Đã nhận hàng</strong>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div>
                                                <a href="#" class="btn btn-warning" title="Xem chi tiết">
                                                    <i class="bi bi-eye-fill"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="2" class="text-center">
                                        <em>Chưa có đơn hàng</em>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            @if (Model.HoadonList != null && Model.HoadonList.Count > 0)
                            {
                                for (var i = 1; i <= ViewBag.TotalPages; i++)
                                {
                                    <li class="page-item @(i == ViewBag.PageNumber ? "active" : "")">
                                        <a class="page-link" href="?page=@i">@i</a>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <hr class="mb-4">
        </div>
     
        <div class="col-lg-8 content-section" id="thongtintaikhoan">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <div class="product-item">
                <a class="product-thumb" href="#">
                    <img src="~/images/account/user.png" />
                </a>
                <form enctype="multipart/form-data" asp-action="UpdateInfo">
                    <h5 class="text-success"><strong>@TempData["SuccessUpdate"]</strong></h5>

                    <input type="hidden" id="MaKh" name="MaKh" value="@Model.KhachHang.MaKh" class="form-control" />
                    <div class="form-group">
                        <label for="fileanh">Ảnh đại diện:</label>
                        <input type="file" id="fileanh" name="fileanh" class="form-control-file" />
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="Ten">Họ và tên:</label>
                            <input type="text" id="Ten" name="Ten" value="@Model.KhachHang.Ten" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label for="Email">Email:</label>
                            <input type="text" id="Email" name="Email" value="@Model.KhachHang.Email" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="Dienthoai">Điện thoại:</label>
                            <input type="text" id="Dienthoai" name="Dienthoai" value="@Model.KhachHang.Dienthoai" class="form-control" />
                        </div>
                    </div>

                    <div class="form-row">
                     
                        <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-outline-success">Lưu</button>
                        </div>
                    </div>
                </form>
                <form enctype="multipart/form-data" id="form1" asp-action="ChangePassWord">
                    <h5 class="text-success"><strong>@TempData["Success"]</strong></h5>
                    <h5 class="text-warning"><strong>@TempData["Message"]</strong></h5>
                    <div class="form-row">
                        <div class="form-group col-md-4">                        
                            <label >Mật khẩu cũ</label>
                            <input type="password" id="matkhauxacthuc" name="matkhauxacthuc" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label >Mật khẩu mới</label>
                            <input type="password" id="matkhauthaydoi" name="matkhauthaydoi" class="form-control" />
                        </div>
                        <div class="form-group col-md-4">
                            <label>Nhập lại mật khẩu mới</label>
                            <input type="password" id="matkhauthaydoiVerifi" name="matkhauthaydoiVerifi" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <button type="submit" class="btn btn-outline-success">Đổi mật khẩu</button>
                        </div>
                    </div>
                </form>
            </div>
            
            <hr class="mb-4">
        </div>
        <div class="col-lg-8 content-section" id="diachi">
            <div class="padding-top-2x mt-2 hidden-lg-up"></div>
            <!-- Wishlist Table-->
            <div class="table-responsive wishlist-table margin-bottom-none">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Danh sách địa chỉ</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Diachi != null)
                            {
                                if (Model.Diachi.Count > 0)
                                {
                                    foreach (var item in Model.Diachi)
                                    {
                                        <tr>
                                            <td>
                                                <div class="product-item">
                                                    <div class="product-info">
                                                        <h4 class="product-title"><a href="#">@item.Tinhthanh</a></h4>
                                                        <h4 class="product-title"><a href="#">@item.Quanhuyen</a></h4>
                                                        <h4 class="product-title"><a href="#">@item.Phuongxa</a></h4>
                                                        <h4 class="product-title"><a href="#">@item.Diachi1</a></h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div>
                                                    @if(item.Macdinh == 0)
                                                    {
                                                        <form asp-action="XoaDiaChi" asp-controller="customer" method="post" asp-route-id="@item.MaDc">
                                                            <button type="submit" class="btn btn-outline-danger">
                                                                <i class="bi bi-trash"></i>
                                                            </button>
                                                        </form>
                                  
                                                    }
                                                    else
                                                    {
                                                        
                                                    }

                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <div>
                                                    @if (item.Macdinh == 0)
                                                    {
                                                        <form asp-action="Diachimacdinh" asp-controller="customer" method="post" asp-route-id="@item.MaDc">
                                                            <button type="submit" class="btn btn-outline-danger">
                                                                <i class="bi bi-check-circle-fill"></i> Mặc định
                                                            </button>
                                                        </form>
                                                    }
                                                    else
                                                    {

                                                    }

                                                </div>
                                            </td>
                                        </tr>

                                    }
                                }

                            }
                            else
                            {
                                <tr>
                                    <td>
                                        Chưa có địa chỉ mua hàng 
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
            <hr class="mb-4">
        </div>


    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> <!-- Include jQuery library -->

<script>
    // Function to show the corresponding content section
    function showContent(contentId) {
        // Hide all content sections
        $('.content-section').hide();

        // Show the selected content section
        $('#' + contentId).show();
    }

    // Initial setup to show the default active section
    $(document).ready(function () {
        // Get the active link's href
        var activeHref = $('.list-group-item.active').attr('href');

        // Show the corresponding content section
        showContent(activeHref.substr(1)); // Remove the '#' symbol
    });

    // Add click event listeners to navigation links
    $('.list-group-item').click(function () {
        // Remove 'active' class from all links
        $('.list-group-item').removeClass('active');

        // Add 'active' class to the clicked link
        $(this).addClass('active');

        // Get the href of the clicked link
        var clickedHref = $(this).attr('href');

        // Show the corresponding content section
        showContent(clickedHref.substr(1)); // Remove the '#' symbol
    });


</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var form = document.getElementById("form1");

        form.addEventListener("submit", function (event) {
            var newPassword = document.getElementById("matkhauthaydoi").value;
            var confirmPassword = document.getElementById("matkhauthaydoiVerifi").value;

            if (newPassword !== confirmPassword) {
                alert("Mật khẩu mới và xác nhận mật khẩu mới không khớp!");
                event.preventDefault(); // Prevent form submission
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the current URL fragment (the part after #)
        var currentFragment = window.location.hash.substring(1);

        // Activate the corresponding tab based on the current fragment
        activateTab(currentFragment);

        // Listen for hash changes to update the active tab dynamically
        window.addEventListener("hashchange", function () {
            var newFragment = window.location.hash.substring(1);
            activateTab(newFragment);
        });

        // Function to activate the tab
        function activateTab(tabId) {
            // Remove the "active" class from all tabs
            var tabs = document.querySelectorAll(".list-group-item");
            tabs.forEach(function (tab) {
                tab.classList.remove("active");
            });

            // Add the "active" class to the tab with the matching ID
            var targetTab = document.querySelector('a[href="#' + tabId + '"]');
            if (targetTab) {
                targetTab.classList.add("active");
            }
        }
    });



    function addToCart(id, giaban, hinhanh, ten, giakhuyenmai) {
        var cart = JSON.parse(localStorage.getItem('cart')) || [];

        var existingProduct = cart.find(item => item.id === id);

        if (existingProduct) {
            existingProduct.soluongmua++;
            Toastify({
                text: "Đã cập nhật số lượng vào giỏ hàng !",
                duration: 3000,
                gravity: "bottom", // Chọn bottom để hiển thị ở dưới
                position: 'right',
                backgroundColor: "rgba(0, 128, 0, 0.8)", // Màu nền xanh lá cây với độ trong suốt
                stopOnFocus: true,
                className: 'custom-toast', // Thêm class để tùy chỉnh CSS
            }).showToast();
        } else {
            cart.push({ id, ten, giaban, hinhanh, soluongmua: 1, giakhuyenmai: giakhuyenmai });
            // Hiển thị toast thông báo
            Toastify({
                text: "Đã thêm vào giỏ hàng !",
                duration: 3000,
                gravity: "bottom",
                position: 'right',
                backgroundColor: "rgba(0, 128, 0, 0.8)", // Màu nền xanh lá cây với độ trong suốt
                stopOnFocus: true,
                className: 'custom-toast', // Thêm class để tùy chỉnh CSS
            }).showToast();

        }

        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart));
        displayNumbercart();
    }

</script>
