@model BAITAP.Models.Diachi

@{
    ViewData["Title"] = "Xóa địa chỉ";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}

<h3 class="mt-0">Xóa địa chỉ khách hàng</h3>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="index">Địa chỉ khách hàng</a></li>
    <li class="breadcrumb-item active">Xóa</li>
</ol>
<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Diachi1)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Diachi1)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Tinhthanh)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Tinhthanh)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Quanhuyen)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Quanhuyen)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Phuongxa)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Phuongxa)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Macdinh)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Macdinh)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MakhNavigation)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MakhNavigation.Ten)</dd>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MakhNavigation.Dienthoai)</dd>
        </dl>

        <div class="text-center">
            <p class="text-danger">Bạn có chắc chắn muốn xóa mục này?</p>

            <form asp-action="Delete" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="MaDc" />

                <button type="submit" class="btn btn-danger">Xóa</button>
                <a asp-action="Index" class="btn btn-secondary">Quay lại danh sách</a>
            </form>
        </div>
    </div>
</div>
