@model List<BAITAP.Models.Mathang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}

<div class="container mt-5">

    <div class="container px-4 px-lg-5 mt-3">
        <form id="filterForm" method="post" asp-action="index" asp-route-Fill="true">
            <div class="row">
                <div class="col-md-4">
                    <label for="category-filter" class="form-label">Danh mục:</label>
                    <select class="form-control" name="category">
                        <option value="">Tất cả</option>
                        @foreach (var category in ViewBag.ListDanhMuc)
                        {
                            <option value="@category.Ten" selected="@(ViewBag.category == category.Ten)">@category.Ten</option>
                        }
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="sort-filter" class="form-label">Sắp xếp:</label>
                    <select class="form-control" name="sort">
                        <option value="">Không sắp xếp</option>
                        <option value="priceHighToLow" selected="@(ViewBag.sort == "priceHighToLow")">Giá từ cao đến thấp</option>
                        <option value="priceLowToHigh" selected="@(ViewBag.sort == "priceLowToHigh")">Giá từ thấp đến cao</option>
                        <!-- Add more sorting options if needed -->
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="khuyenmai-filter" class="form-label">Khuyễn mãi:</label>
                    <select class="form-control" name="khuyenmai">
                        <option value="0" selected="@(ViewBag.khuyenmai == "1")">Không khuyến mãi</option>
                        <option value="1" selected="@(ViewBag.khuyenmai == "1")">Có chương trình khuyến mãi</option>
                        <!-- Add more sorting options if needed -->
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="keyword" class="form-label">Từ khóa tìm kiếm:</label>
                    <div class="input-group">
                        <input value="@ViewBag.keyword" type="text" class="form-control" name="keyword" placeholder="Nhập từ khóa...">
                        <button class="btn btn-success" type="submit">Lọc</button>
                    </div>
                </div>
            </div>
        </form>
        @if (ViewBag.Fill)
        {
            <h3 class="text-info">
                @ViewBag.category -
                @{
                    if (ViewBag.sort == "priceHighToLow")
                    {
                        <text>Giá từ cao đến thấp</text>
                    }
                    else if (ViewBag.sort == "priceLowToHigh")
                    {
                        <text>Giá từ thấp đến cao</text> <!-- Add your other message here -->
                    }
                    else
                    {

                        <text>@ViewBag.sort</text> <!-- Add your other message here -->
                    }
                }
                @if(ViewBag.keyword != null)
                {
                    <text> - @ViewBag.keyword - </text>

                }
                else
                {
                    <text> - </text>

                }
                @if (ViewBag.khuyenmai == "1")
                {
                    <text>Có chương trình khuyến mãi</text> <!-- Add your other message here -->
                }
                else
                {
                    <text>Không khuyễn mãi</text> <!-- Add your other message here -->
                }
            </h3>
        }
        else
        {
            <h3 class="text-info">Tất cả sản phẩm</h3>

        }
    </div>
    <p class="text-right">
        <a class="btn btn-success" asp-controller="mhs" asp-action="Create">Thêm mới</a>
    </p>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tên</th>
                <th scope="col">Giá Gốc</th>
                <th scope="col">Giá Bán</th>
                <th scope="col">Số Lượng</th>
                <th scope="col">Mô Tả</th>
                <th scope="col">Hình Ảnh</th>
                <th scope="col">Lượt Xem</th>
                <th scope="col">Lượt Mua</th>
                <th scope="col">Danh Mục</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Ten)</td>
                    <td>@Html.DisplayFor(modelItem => item.GiaGoc)</td>
                    <td>@Html.DisplayFor(modelItem => item.GiaBan)</td>
                    <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                    <td>@Html.DisplayFor(modelItem => item.MoTa)</td>
                    <td>
                        <img src="~/images/products/@item.HinhAnh" alt="Hình ảnh" style="max-width: 100px;" />
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.LuotXem)</td>
                    <td>@Html.DisplayFor(modelItem => item.LuotMua)</td>
                    <td>@Html.DisplayFor(modelItem => item.Danhmucs.Ten)</td>
                    <td>
                            <a class="btn btn-outline-primary mb-1" asp-action="Edit" asp-route-id="@item.MaMh"><i class="bi bi-pencil"></i></a>
                            <a class="btn btn-outline-success mb-1" asp-action="Details" asp-route-id="@item.MaMh"><i class="bi bi-eye"></i></a>
                            <a class="btn btn-outline-danger mb-1" asp-action="Delete" asp-route-id="@item.MaMh"><i class="bi bi-archive-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
@if(Model.Count >0)
    {
        <ul class="pagination justify-content-center" style="margin: 20px 0;">

            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = 1 , keyword = ViewBag.keyword,  sort = ViewBag.sort , category = ViewBag.category, Fill = ViewBag.Fill})">
                    <i class="bi bi-skip-start-btn-fill"></i>
                </a>
            </li>
            @if (ViewBag.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", new {
                                page = ViewBag.CurrentPage - 1,
                                keyword = ViewBag.keyword,
                                sort = ViewBag.sort,
                                category = ViewBag.category,
                                Fill = ViewBag.Fill
                            })">
                        <i class="bi bi-arrow-left-square-fill"></i>
                    </a>
                </li>
            }

            @for (var i = Math.Max(1, ViewBag.CurrentPage - 2); i <= Math.Min(ViewBag.TotalPages, ViewBag.CurrentPage + 2); i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    @if (i == ViewBag.CurrentPage)
                    {
                        <span class="page-link">@i</span>
                    }
                    else
                    {
                        <a class="page-link" href="@Url.Action("Index", new { page = i,  keyword = ViewBag.keyword,  sort = ViewBag.sort , category = ViewBag.category,    Fill = ViewBag.Fill })">@i</a>
                    }
                </li>
            }

            @if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                <li class="page-item ">
                    <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.CurrentPage + 1,  keyword = ViewBag.keyword,  sort = ViewBag.sort , category = ViewBag.category, Fill = ViewBag.Fill  })">
                        <i class="bi bi-arrow-right-square-fill"></i>
                    </a>
                </li>
            }
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.TotalPages,  keyword = ViewBag.keyword,  sort = ViewBag.sort , category = ViewBag.category, Fill = ViewBag.Fill })">
                    <i class="bi bi-skip-end-btn-fill"></i>
                </a>
            </li>
        </ul>

    }
</div>
