@model BAITAP.DTO.PhienBansSanPhamDTO

@{
    ViewData["Title"] = "Create";
        Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<h1>Tạo mới sản phẩm</h1>
<hr />
<div class="row">
    <div class="col-md-18">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label asp-for="mathang.Ten" class="control-label">Tên sản phẩm</label>
                    <input asp-for="mathang.Ten" class="form-control" id="texttensp" />
                    <span asp-validation-for="mathang.Ten" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Danh mục</label>
                    <select class="form-control" name="category" id="danhmuc">
                        <option value=0>Vui lòng chọn danh mục</option>
                        @foreach (var category in ViewBag.MaDm)
                        {
                            <option value="@category.MaDm" selected="@(ViewBag.category == category.Ten)">@category.Ten</option>
                        }
                    </select>
                    </div>
                    <div class="form-group col-md-4">
                    <label class="control-label">Thương hiệu</label>

                    <select class="form-control" name="thuonghieu" id="thuonghieu">
                        <option value=0>Vui lòng chọn thương hiệu</option>
                        @foreach (var category in ViewBag.MaTH)
                        {
                            <option value="@category.MaThuonghieu">@category.TenThuonghieu</option>
                        }
                    </select>
                </div>
            </div>
       
        </form>

        <div class="form-group" id="attributesGroup">
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Hình ảnh</label>
                    <img id="previewImage" class="custom-image-class" src="~/images/products/iphone-15-pro-max-blue-thumbnew-200x200.webp" />
                </div>
                <div class="col-md-4">
                    <label class="control-label">Chọn file</label>
                    <input type="file" id="fileanhInput" class="form-control" onchange="previewFile()" />
                </div>
            </div>
        </div>
        <style>
            .custom-image-class {
                width: 100%; /* Set the desired fixed width */
                height: auto; /* Maintain aspect ratio */
                max-width: 200px; /* Optional: set a max-width to prevent stretching */
            }
        </style>
        <script>
            function previewFile() {
                var fileInput = document.getElementById('fileanhInput');
                var previewImage = document.getElementById('previewImage');

                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        previewImage.src = e.target.result;
                    };
                    reader.readAsDataURL(fileInput.files[0]);
                }
            }
            function previewFilechange(index) {
                console.log('Filechange ' + index)
                var fileInput = document.getElementById('fileanhInput' + index);
                var previewImage = document.getElementById('previewImage' + index);
                console.log(fileInput)
                if (fileInput.files && fileInput.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        previewImage.src = e.target.result;
                    };

                    reader.readAsDataURL(fileInput.files[0]);
                    variants[index].fileanh = fileInput.files[0];
                }
            }
        </script>

        <div class="form-group" id="attributesGroup">
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Giá góc</label>
                    <input type="text" id="textgiagoc" placeholder="Nhập giá góc..." class="form-control" />
                </div>
                <div class="col-md-4">
                    <label class="control-label">Giá bán</label>
                    <input type="text" id="textgiaban" placeholder="Nhập giá bán..." class="form-control" />
                </div>
                <div class="col-md-4">
                    <label class="control-label">Đơn vị tính</label>
                    <input type="text" placeholder="Nhập đơn vị tính..." class="form-control" id="donvitinh" />
                </div>
        </div>
      
        <div class="form-group" id="attributesGroup" >
            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Màu sắc</label>
                    <ul id="attributeListmausac" class="list-group">
                        <!-- Existing items can be loaded here if needed -->
                    </ul>
                    <input type="text" id="attributeInputmausac" placeholder="Nhập màu sắc và nhấn Enter" class="form-control" />
                </div>
                    <div class="col-md-4">
                        <label class="control-label">Chất liệu</label>
                    <ul id="attributeListchatlieu" class="list-group">
                        <!-- Existing items can be loaded here if needed -->
                    </ul>
                    <input type="text" id="attributeInputchatlieu" placeholder="Nhập chất liệu và nhấn Enter" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label class="control-label">Kích thước</label>
                    <ul id="attributeListkichthuoc" class="list-group">
                        <!-- Existing items can be loaded here if needed -->
                    </ul>
                    <input type="text" id="attributeInputkichthuoc" placeholder="Nhập kích thước và nhấn Enter" class="form-control" />
                </div>
                    <div class="col-md-4 mt-2">
                        <button id="createVariantsBtn" class="btn btn-primary">
                            Tạo các phiên bản
                        </button>
                    </div>         
            </div>
        </div>

        <script>
            $(document).ready(function () {
                function handleEnterPress(attributeList, attributeInput) {
                    attributeInput.keypress(function (e) {
                        if (e.which === 13) { // Check if Enter key is pressed
                            const attributeValue = attributeInput.val().trim();
                            if (attributeValue !== "") {
                                const listItem = $("<li class='list-group-item'></li>").text(attributeValue);
                                const deleteButton = $("<button type='button' class='btn btn-danger btn-sm float-end'>Xóa</button>");

                                // Handle delete button click
                                deleteButton.click(function () {
                                    listItem.remove();
                                });

                                listItem.append(deleteButton);
                                attributeList.append(listItem);
                                attributeInput.val(""); // Clear the input after adding the item
                            }
                        }
                    });
                }

                handleEnterPress($("#attributeListmausac"), $("#attributeInputmausac"));
                handleEnterPress($("#attributeListchatlieu"), $("#attributeInputchatlieu"));
                handleEnterPress($("#attributeListkichthuoc"), $("#attributeInputkichthuoc"));
            });
        </script>


    

        <table class="table" id="variantsTable" style="width: 100%;">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên Sản phẩm</th>
                    <th>Giá bán</th>
                    <th>Giá gốc</th>
                    <th>Số lượng</th>
                    <th>Mô tả</th>
                    <th>Màu sắc</th>
                    <th>Kích thước</th>
                    <th>Chất liệu</th>
                    <th>Hình ảnh</th>
                    <th>Đơn vị tính</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be dynamically generated here -->
            </tbody>
        </table>
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-success" onclick="addPhienbansanpham()">Lưu</button>
                    <script>
                        $(document).ready(function () {
                            function handleEnterPress(attributeList, attributeInput) {
                                attributeInput.keypress(function (e) {
                                    if (e.which === 13) { // Check if Enter key is pressed
                                        e.preventDefault(); // Prevent the default form submission behavior

                                        const attributeValue = attributeInput.val().trim();
                                        if (attributeValue !== "") {
                                            const listItem = $("<li class='list-group-item'></li>").text(attributeValue);
                                            const deleteButton = $("<button type='button' class='btn btn-danger btn-sm float-end'><i class='bi bi-trash3-fill'></i></button>");

                                            // Handle delete button click
                                            deleteButton.click(function () {
                                                listItem.remove();
                                            });

                                            listItem.append(deleteButton);
                                            attributeList.append(listItem);
                                            attributeInput.val(""); // Clear the input after adding the item
                                        }
                                    }
                                });
                            }

                            handleEnterPress($("#attributeListmausac"), $("#attributeInputmausac"));
                            handleEnterPress($("#attributeListchatlieu"), $("#attributeInputchatlieu"));
                            handleEnterPress($("#attributeListkichthuoc"), $("#attributeInputkichthuoc"));

                            // Handle button click to create variants
                            $("#createVariantsBtn").click(function () {
                                // Your existing code for creating variants
                            });

                            // Your other existing script code here
                        });
                    </script>
                </div>
                <div class="col-md-5">
                    <button type="reset" class="btn btn-danger">Hủy</button>
                </div>
            </div>
        <script>
                var mainFormData = new FormData();

                var csrfToken = $('input[name="__RequestVerificationToken"]').val();
                const variants = [
                  
                ];

                const mathang = {
                    Id: 0,
                    Ten: "",
                    Hinhanh: "",
                    MaDm: 0,
                    // Add other properties based on your form inputs
                };
            $(document).ready(function () {
                function handleEnterPress(attributeList, attributeInput) {
                    attributeInput.keypress(function (e) {
                        if (e.which === 13) { // Check if Enter key is pressed
                            const attributeValue = attributeInput.val().trim();
                            if (attributeValue !== "") {
                                const listItem = $("<li class='list-group-item'></li>").text(attributeValue);
                                const deleteButton = $("<button type='button' class='btn btn-danger btn-sm float-end'>Xóa</button>");

                                // Handle delete button click
                                deleteButton.click(function () {
                                    listItem.remove();
                                });

                                listItem.append(deleteButton);
                                attributeList.append(listItem);
                                attributeInput.val(""); // Clear the input after adding the item
                            }
                        }
                    });
                }

                handleEnterPress($("#attributeListmausac"), $("#attributeInputmausac"));
                handleEnterPress($("#attributeListchatlieu"), $("#attributeInputchatlieu"));
                handleEnterPress($("#attributeListkichthuoc"), $("#attributeInputkichthuoc"));
                


                // Handle button click to create variants
                    $("#createVariantsBtn").click(function () {
                        // Assuming you have the file input element
                        var fileanhInput = document.getElementById('fileanhInput');
                        var fileanh = fileanhInput.files[0];
                        const tensp = $("#texttensp").val();
                        const donvitinh = $("#donvitinh").val();
                        const selectedCategory = $('#danhmuc').val();
                        var selectedOption = $('#danhmuc option:selected');
                        var madanhmuc = selectedOption.val();
                        var danhmuc = selectedOption.text();
                        var selectedOption = $('#thuonghieu option:selected');
                        var thuonghieu = selectedOption.text();
                        //  const thuonghieu = $("#textthuonghieu").val();
                        const giaban = $("#textgiaban").val();
                        const giagoc = $("#textgiagoc").val();
                        const mausacList = $("#attributeListmausac").find("li");
                        const chatlieuList = $("#attributeListchatlieu").find("li");
                        const kichthuocList = $("#attributeListkichthuoc").find("li");
     

                        if (mausacList.length === 0 || chatlieuList.length === 0 || kichthuocList.length === 0) {
                            alert("Vui lòng chọn các thuộc tính sản phẩm");
                            return; // Exit the function if attributes are not selected
                        }

                        if (tensp && donvitinh && selectedCategory && madanhmuc && thuonghieu && giaban && giagoc) {
                            mathang.Id = 0;
                            mathang.Ten = danhmuc;
                            mathang.MaDm = madanhmuc;

                            // Generate variants and add to the array
                            for (let i = 0; i < mausacList.length; i++) {
                                for (let j = 0; j < chatlieuList.length; j++) {
                                    for (let k = 0; k < kichthuocList.length; k++) {
                                        const mausacValue = $(mausacList[i]).text();
                                        const chatlieuValue = $(chatlieuList[j]).text();
                                        const kichthuocValue = $(kichthuocList[k]).text();
                                        const index = i * chatlieuList.length * kichthuocList.length + j * kichthuocList.length + k + 1;
                                        const moTaIndex = i * chatlieuList.length * kichthuocList.length + j * kichthuocList.length + k + 1;
                                        const textareaContent = `${tensp} ${thuonghieu} - ${mausacValue} - ${kichthuocValue} - ${chatlieuValue}`;

                                        const textareaId = `motaEditor${moTaIndex}`;

                                        // Add variant data to the array
                                        const newVariant = {
                                            Chatlieu: chatlieuValue,
                                            Thuonghieu: thuonghieu,
                                            Kichco: kichthuocValue,
                                            Mausac: mausacValue,
                                            Ten: `${tensp} - ${thuonghieu} - ${mausacValue} - ${kichthuocValue} - ${chatlieuValue}`,
                                            GiaGoc: giagoc,
                                            GiaBan: giaban,
                                            MoTa: `${tensp} - ${thuonghieu} - ${mausacValue} - ${kichthuocValue} - ${chatlieuValue}`,
                                            HinhAnh: "", // Update with the actual image path
                                            MaDm: madanhmuc,
                                            LuotMua: 0,
                                            LuotXem: 0,
                                            SoLuong: 1, // Update with the actual quantity
                                            Donvitinh: donvitinh,
                                            Trangthai: 1,
                                            Iskhuyemmai: false,
                                            fileanh: fileanh
                                        };

                                        variants.push(newVariant);

                                        console.log(variants);

                                        const variantRow = $("<tr></tr>");
                                        // Remove all child elements from the table row
                                        variantRow.empty();
                                        variantRow.append(`<td>${index}</td>`);
                                        variantRow.append(`<td>${tensp} ${thuonghieu} - ${mausacValue} - ${kichthuocValue} - ${chatlieuValue}</td>`);
                                        const giagocInput = $(`<input type='text' class='form-control' id='col-giagoc{index}' value=${giagoc} placeholder='Nhập giá góc' />`);
                                        giagocInput.on('input', function () {
                                            updateGiagoc(giagocInput.val(), index - 1);
                                        });
                                        const giabanInput = $(`<input type='text' class='form-control' id='col-giaban{index}' value=${giaban} placeholder='Nhập giá bán' />`);
                                        giabanInput.on('input', function () {
                                            updateGiaban(giabanInput.val(), index - 1);
                                        });
                                        const quantityInput = $(`<input type='text' class='form-control' id='col-soluong${index}' value='1' placeholder='Nhập số lượng sản phẩm...' />`);
                                        quantityInput.on('input', function () {
                                            updateQuantity(quantityInput.val(), index - 1);
                                        });
                                        variantRow.append('<td></td>').find('td:last').append(giagocInput);
                                        variantRow.append('<td></td>').find('td:last').append(giabanInput);
                                        variantRow.append('<td></td>').find('td:last').append(quantityInput);

                                        const textarea = $(`<textarea class='form-control' id='${textareaId}'>${textareaContent}</textarea>`);
                                        textarea.appendTo(variantRow);
                                        variantRow.append(`<td></td>`).find('td:last').append(textarea);
                                        variantRow.append(`<td>${mausacValue}</td>`);
                                        variantRow.append(`<td>${kichthuocValue}</td>`);
                                        variantRow.append(`<td>${chatlieuValue}</td>`);
                                        // Assuming you have the file input element
                                        if (fileanh != null) {
                                            // If a file is present, display a preview image
                                            var previewImage = $(`<img id='previewImage${index}' class='custom-image-class' /> `);
                                            variantRow.append($("<td>").append(previewImage));

                                            // Read the selected file and set it as the image source
                                            var reader = new FileReader();
                                            reader.onload = function (e) {
                                                previewImage.attr('src', e.target.result);
                                            };
                                            reader.readAsDataURL(fileanh);
                                        }
                                        else {
                                            // If a file is present, display a preview image
                                            var previewImage = $(`<img id='previewImage${index}' class='custom-image-class' /> `);
                                            variantRow.append($("<td>").append(previewImage));
                                        }

                                        var changefileinput = $(`<input class='form-control' type ='file' id ='fileanhInput${index}'/>`);
                                        changefileinput.on('change', function () {
                                            var fileInput = document.getElementById('fileanhInput' + index);
                                            var previewImage = document.getElementById('previewImage' + index);
                                            console.log(fileInput);
                                            if (fileInput.files && fileInput.files[0]) {
                                                var reader = new FileReader();

                                                reader.onload = function (e) {
                                                    previewImage.src = e.target.result;
                                                };

                                                reader.readAsDataURL(fileInput.files[0]);
                                                variants[index-1].fileanh = fileInput.files[0];
                                            }
                                            console.log(variants)
                                          //  previewFilechange(index - 1);
                                        });
                                        variantRow.append($("<td>").append(changefileinput));

                                        variantRow.append(`<td>${donvitinh}</td>`);
                                        variantRow.append("<td><div class='form-check'><input type='checkbox' class='form-check-input' id='statusCheckbox'><label class='form-check-label' for='statusCheckbox'>Active</label></div></td>");
                                        $("#variantsTable tbody").append(variantRow);
                                        // Initialize CKEditor for the added row
                                        CKEDITOR.replace(textareaId);

                                        // CKEditor change event
                                        CKEDITOR.instances[textareaId].on('change', function () {
                                            // Get the updated description from CKEditor
                                            const updatedMoTa = CKEDITOR.instances[textareaId].getData();

                                            // Update the corresponding description in your data structure (variants array)
                                            newVariant.MoTa = updatedMoTa;

                                            // Optionally, you can log the updated data to the console
                                            console.log('Updated variant:', newVariant);

                                            // Add any additional logic or UI updates as needed
                                        });
                                        // Initialize CKEditor for the added row
                                    }
                                }
                            }
                        } else {
                            alert("Vui lòng điền đầy đủ dữ liệu để tạo các phiên bản sản phẩm!");
                        }
                    });
                });
                function addPhienbansanpham() {
                    if (variants.length > 0) {
                        // Create a new FormData object
                        var formData = new FormData();
                        var fileInput = document.getElementById('fileanhInput');
                        console.log(fileInput.files[0]);
                        // Append the JSON data as a property
                        formData.append('jsonData', JSON.stringify({
                            mathang: mathang,
                            PhienBansanphamList: variants
                        }));
                        formData.append(`fileanhchinh`, fileInput.files[0])
                        // Append each file along with its index
                        for (let i = 0; i < variants.length; i++) {
                            if (variants[i].fileanh) {
                                formData.append(`fileanh`, variants[i].fileanh);
                            }
                        }
                        console.log(formData);

                        $.ajax({
                            url: '/Mhs/Create',
                            type: 'POST',
                            contentType: false,
                            processData: false,
                            headers: {
                                'RequestVerificationToken': csrfToken
                            },
                            data: formData,
                            success: function (response) {
                                // Handle the response from the server
                                if (response.success) {
                                    alert(response.message);
                                    window.location.href = "/Index";
                                } else {
                                    alert('Failed to create variants.');
                                }
                            },
                            error: function () {
                                alert('Error while creating variants.');
                            }
                        });
                    }
                }
                function updateQuantity(value, index) {
                    console.log('Quantity changed:', value);
                    variants[index].SoLuong = value;

                }
                function updateGiaban(value, index) {
                    console.log('Giaban changed:', value);

                    variants[index].GiaGoc = value;
                    // Your logic to handle quantity change
                }
                function updateGiagoc(value, index) {
                    console.log('Quantity goc:', value);

                    variants[index].GiaBan = value;
                }   


        </script>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Trở về danh sách</a>
</div>
